/*
  
  
*/
:root {
  --color-primary: rgb(27, 235, 27);
  --color-primary-2: rgb(123, 244, 123);
  --color-secondary: #fcd126;
  --color-secondary: #fbdb4f;
  --grey-light-9: #fff;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --light-green: lightgreen;
  --dark-green: darkgreen;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --border: 1px solid blue;
  --line: 1px solid var(--grey-light-2);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: var(--grey-dark-2);
  width: 100%; }

body, html {
  width: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/* Utils */
.fx {
  display: flex; }

.ct {
  margin-left: auto;
  margin-right: auto; }

.cs-p {
  cursor: pointer; }

.header {
  height: 100vh;
  background: url(../img/home-header-bg.jpg) no-repeat;
  background-size: 100% 100%;
  position: relative; }
  .header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.141); }

.cont {
  background: lightcoral; }

.content {
  height: 30rem;
  background: lightcyan;
  width: 50%;
  margin: 5rem auto 0; }

.header__top {
  padding-top: 4.35em;
  position: relative; }
  .header__top--wrapper {
    width: 58%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    align-items: center; }

.header__nav {
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 1px; }

.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: auto;
  display: block;
  cursor: pointer; }
  .logo__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit; }

.nav {
  display: flex; }
  .nav__link {
    color: #fff;
    transition: color .3s ease-in;
    display: block;
    position: relative;
    z-index: 20;
    border-radius: .5rem;
    text-align: center; }
    .nav__link::after {
      content: "";
      display: block;
      width: 2rem;
      height: .28rem;
      background: var(--color-secondary); }
    .nav__link:not(:last-child) {
      margin-right: 2.5rem; }
    .nav__link:hover {
      color: #ffab10; }
    .nav__link:focus {
      outline: none; }

.welcome {
  width: fit-content;
  position: absolute;
  top: 31%;
  right: 21%;
  color: #fff;
  font-weight: noraml;
  text-align: right; }
  .welcome__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 100; }
  .welcome__text--companyName {
    font-weight: 400; }
  .welcome__text--p1 {
    font-size: 4rem;
    font-weight: 100;
    color: white; }
    .welcome__text--p1::first-letter {
      font-size: 5rem; }
  .welcome__text--p2 {
    font-weight: 100;
    font-size: 1.75rem; }
    .welcome__text--p2 span {
      color: var(--color-secondary);
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: bold; }

.contact__btn {
  border: 2px solid #fff;
  outline: none;
  background: none;
  color: #ffb52d;
  padding: 2rem 4rem;
  border-radius: 3rem/50%;
  margin-top: 2rem;
  float: right;
  cursor: pointer;
  transition: all .4s linear; }
  .contact__btn:hover {
    background-image: linear-gradient(to right, #fedf45, #ffc738);
    color: #fff;
    border-color: transparent; }

.offerings__title {
  margin: 1.5rem auto 1rem;
  color: #ffb52d;
  font-size: 3rem;
  width: fit-content; }

.offerings__list {
  display: flex;
  padding: 3rem 0;
  justify-content: center; }

.offering {
  width: 15%;
  height: 23.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #fff; }
  .offering:not(:last-child) {
    margin-right: 3rem; }
  .offering-imgCont {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    background: #f2f2f2; }
  .offering__desc {
    text-align: center;
    width: 100%; }

.produces {
  background: url(../img/ag-pic-18.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 2rem; }

.produce__title {
  font-size: 3rem;
  color: #ffc229;
  margin: 2rem auto;
  width: fit-content;
  padding-top: 1.8rem; }

.produce__list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center; }

.produce__item {
  width: 20%;
  height: fit-content;
  padding: 1px;
  margin-bottom: 2rem;
  box-shadow: 0 0rem 2rem rgba(255, 196, 21, 0.1);
  border-radius: 1.2rem;
  text-align: center; }
  .produce__item:not(:last-child) {
    margin-right: 2.5rem; }
  .produce__item-rt-dp {
    flex-flow: row-reverse; }

.produce__img {
  display: block;
  width: 100%;
  cursor: pointer;
  transition: transform .2s ease-out; }
  .produce__img:hover {
    transform: scale(1.04); }

.produce__desc {
  flex: 1;
  margin: 1.5rem 0 1rem; }
  .produce__desc--title {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #787878; }
  .produce__desc--text {
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    line-height: 2.6rem;
    padding: 1rem 1.5rem;
    color: #989898; }

.produce__seeMore-btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid var(--color-secondary);
  font-size: 2rem;
  background: none;
  color: var(--color-primary);
  transition: all .2s linear;
  outline: none; }
  .produce__seeMore-btn:focus, .produce__seeMore-btn:hover {
    animation: breath 1s linear infinite forward; }

@keyframes breath {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.cp_h {
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

.footer {
  background-color: #121212;
  color: #fff;
  font-size: 1.6rem;
  font-weight: normal; }
  .footer__top, .footer__bottom {
    display: flex;
    justify-content: center; }
  .footer__top {
    padding: 9rem 0 5rem;
    background-color: #151515; }
  .footer__top > * {
    height: fit-content;
    line-height: 2; }
  .footer__top > *:not(:last-child) {
    margin-right: 5rem; }
  .footer__bottom {
    background-color: #131313;
    padding: 2.7rem 0 1.15rem; }
  .footer__title {
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: var(--color-primary-2);
    font-weight: bold;
    line-height: 1;
    font-family: 'Poppins', sans-serif; }
  .footer__about {
    width: 30rem; }
  .footer__nav--link-item {
    cursor: pointer;
    transition: color .4s; }
    .footer__nav--link-item:hover {
      color: var(--color-secondary); }

.company__goal {
  line-height: 2; }

.contact__info--icon {
  border: 1px solid blue;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem; }

.contact__info > * {
  display: flex;
  align-items: center; }

.legal {
  font-size: 1.1rem; }
  .legal span {
    color: var(--color-primary-2); }

.back_to_top {
  width: 3rem;
  height: 4rem;
  border-radius: .9rem;
  background: var(--color-primary-2);
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3.5rem;
  right: 3rem;
  color: #fff;
  cursor: pointer;
  transition: all .2s; }
  .back_to_top:hover {
    transform: translateY(-3px); }

.box.leg {
  height: 20rem;
  background: #eee;
  width: 100%; }
