@import "./materialize/sass/components/carousel";

.header {
  &__top {
    padding-top: 4.35em;
    position: relative;

    &--wrapper {
      width: 58%;
      margin: 0 auto;
      padding: 1rem 0;
      display: flex;
      align-items: center;
    }
  }


  &__nav {
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 1px;
  }


}

.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: auto;
  display: block;
  cursor: pointer;
  // border: 1px solid orange;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;    
  }
}

.nav {
  display: flex;

  &__link {
    color: #fff;
    transition: color .3s ease-in;
    display: block;
    position: relative;
    z-index: 20;
    // border: 1px solid blue;
    border-radius: .5rem;
    text-align: center;

    
    &::after {
      content: "";
      display: block;
      width: 2rem;
      height: .28rem;
      background: var(--color-secondary);
    }

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    &:hover {
      color: rgb(255, 171, 16);
    }

    &:active,
    &:visited,
    &--active {
    }

    &:focus{
      outline: none;
    }
  }
}

.welcome {
  width: fit-content;
  position: absolute;
  top: 31%;
  right: 21%;
  color: #fff;
  font-weight: noraml;
  text-align: right;

  &__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
  }

  &__text--companyName {
    font-weight: 400;
  }

  &__text--p1 {
    font-size: 4rem;
    font-weight: 100;
    color: rgb(255, 255, 255);

    &::first-letter {
      font-size: 5rem;
    }
  }

  &__text--p2 {
    font-weight: 100;
    font-size: 1.75rem;

    & span {
      color: var(--color-secondary);
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}

.contact__btn {
  border: 2px solid #fff;
  outline: none;
  background: none;

  color: rgb(255, 181, 45);
  padding: 2rem 4rem;
  border-radius: 3rem/50%;
  margin-top: 2rem;
  float: right;
  cursor: pointer;
  transition: all .4s linear;

  &:hover {
    background-image: linear-gradient(to right, rgb(254, 223, 69), rgb(255, 199, 56));
    color: #fff;
    border-color: transparent;
  }
}

.offerings__title {
  margin: 1.5rem auto 1rem; 
  color: rgb(255, 181, 45);
  font-size: 3rem;
  width: fit-content;
}

.offerings__list {
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  // background-color: rgb(247, 247, 247);
}

.offering {
  width: 15%;
  height: 23.5rem;
  // border: 1px solid blue;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #fff;  

  &:not(:last-child) {
    margin-right: 3rem;
  }

  &-imgCont {
    // border: 1px solid blue;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    background: rgb(242, 242, 242);
  }

  &__desc {
    text-align: center;
    width: 100%;
    // border: 1px solid orange;
  }
}

.produces {
  background: url(../img/ag-pic-18.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
 }

.produce {

  &__title {
    font-size: 3rem;
    color: rgb(255, 194, 41);
    margin: 2rem auto;
    width: fit-content;
    padding-top: 1.8rem;
  }

  &__list {
    display: flex;
    // flex-flow: column;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  &__item {
    // border: 1px solid blue;
    width: 20%;
    height: fit-content;
    padding: 1px;
    margin-bottom: 2rem;
    box-shadow: 0 0rem 2rem rgba(255, 196, 21, 0.1);



    border-radius: 1.2rem;
    text-align: center;

    &:nth-child(even) {
      // flex-flow: row-reverse;
    }

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
    &-rt-dp {
      flex-flow: row-reverse;
    }
  }

  &__img {
    display: block;
    width: 100%;
    cursor: pointer;
    transition: transform .2s ease-out;




    &:hover {
      transform: scale(1.04);
    }

  }

  &__desc {
    // background: orange;
    flex: 1;
    margin: 1.5rem 0 1rem;

    &--title {
      font-size: 2rem;
      font-weight: bold;
      font-family:  "Poppins", sans-serif;
      color: #787878;      
    }

    &--text {
      font-size: 1.4rem;
      font-family:  "Open Sans", sans-serif;
      line-height: 2.6rem;
      padding: 1rem 1.5rem;
      color: rgb(152, 152, 152);
    }
  }

  &__seeMore-btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid var(--color-secondary);
    font-size: 2rem;
    background: none;
    // padding: .5rem 0;
    color: var(--color-primary);
    transition: all .2s linear;
    outline: none;

    &:focus,
    &:hover {
      animation: breath 1s linear infinite forward;
    }
  }
}


@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);





  }
  100% {
    transform: scale(1);
  }
}
.cp_h {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}

.footer {
  background-color: rgb(18, 18, 18);
  color: #fff;
  font-size: 1.6rem;
  font-weight: normal;

  &__top, &__bottom {
    display: flex;
    justify-content: center;
  }

  &__top {
    padding: 9rem 0 5rem;
    background-color: #151515;
  }

  &__top > * {
    height: fit-content;
    line-height: 2;
  }

  &__top > *:not(:last-child) {
    margin-right: 5rem;
  }

  &__bottom {
    background-color: rgb(19, 19, 19);
    padding: 2.7rem 0 1.15rem;
  }

  &__title {
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: var(--color-primary-2);
    font-weight: bold;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
  }

  &__about {
    width: 30rem;
  }

  &__nav--link-item {
    cursor: pointer;
    transition: color .4s;

    &:hover {
      color: var(--color-secondary);
    }
  }
}

.company {
  &__goal {
    line-height: 2;
  }
}

.contact__info {

  &--icon {
    border: 1px solid blue;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }
  & > * {
    display: flex;
    align-items: center;
  }
}

.legal {
  font-size: 1.1rem;
  
  & span {
    color: var(--color-primary-2);
  }
}

.back_to_top {
  width: 3rem;
  height: 4rem;
  border-radius: .9rem;
  background: var(--color-primary-2);
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3.5rem;
  right: 3rem;
  color: #fff;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    transform: translateY(-3px)
  }
}

.box.leg {
  
    height: 20rem;
    background: #eee;
    width: 100%;
  
}











